:root {
  --yellow: #fbe100;
  --brown: #3d1d1f;
  --horizontal-space: 25px;
  --background-color: #faf7f0;
  --green: #2b6a6c;
  --font: #0d2525;
  --dark-yellow: #f29623;
  --red: #b90d47;
  --dark-grey: #404040;
}
