:root {
  --yellow: rgb(251, 225, 0);
  --brown: rgb(61, 29, 31);
  --horizontal-space: 25px;
  --background-color: rgba(250, 247, 240, 0.4);
  --white: rgb(250, 247, 240);
  --green: rgb(43, 106, 108);
  --font: rgb(13, 37, 37);
  --dark-yellow: rgb(242, 150, 35);
  --red: rgb(185, 13, 71);
  --dark-grey: rgb(64, 64, 64);
  --pink-grey: rgb(190, 183, 183);
  --box-shadow: 0 14px 20px -12px var(--green);
}
