.settings-list {
}

.settings__setting {
  padding: 20px 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  margin-right: 20px;
  font-size: 22px;
  opacity: 0.8;
}

.settings__setting-column:last-child {
  opacity: 0.6;
  margin-right: 20px;
}

.settings__setting-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-box {
  background-color: var(--background-color);
  margin-bottom: 20px;
  padding: 1px 15px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.settings__setting:hover {
  cursor: pointer;
}
