.badge {
  background-color: var(--red);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.dot {
  background-color: var(--red);
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.badge--new {
  font-size: 10px;
  margin-left: 5px;
  width: 16px;
  height: 16px;
}
