.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  top: 37px;
  background: var(--green);
  box-shadow: 0 19px 40px -25px rgb(87, 128, 130);
  color: var(--white);
  margin-bottom: 10px;
  z-index: 8;
}
.screen-header__dot {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 26px;
  position: relative;
}
.screen-header a {
  color: var(--white);
}

#header-comment {
  position: relative;
}
#header-plus {
  position: absolute;
  font-size: 10px;
  margin: 3px;
  left: 13px;
  background-color: var(--green);
}

@keyframes ratateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header .fa-cog:hover {
  animation: ratateCog 1s linear infinite;
}
