.status-bar {
  display: flex;
  justify-content: center;
  padding: 5px 5px;
  position: fixed;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
  background: var(--green);
  box-shadow: 0 14px 20px -12px rgb(87, 128, 130);
  padding-bottom: 20px;
  color: var(--white);
  z-index: 8;
}

.status-bar__column {
  width: 33%;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

/* .status-bar__colomn:first-child {
    display: flex;
    justify-content: flex-start;
  } */

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column .fa-battery-full {
  margin: 0 5px;
}
